Node-Red/flows.json
[{"id":"a9631253.e2dca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bb645c7.1a3fca","type":"function","z":"a9631253.e2dca","name":"","func":"let p=JSON.parse(msg.payload);\np = p[\"message\"][\"event\"][\"characteristic\"]\np = { payload: Math.round(((parseInt(p[\"value\"][2])*1.8+32) + Number.EPSILON) * 100) / 100};\nreturn p;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[["d836c20f.e5c8f"]]},{"id":"cdc13c40.4b35f","type":"mqtt in","z":"a9631253.e2dca","name":"MQTT","topic":"prod/XXXXXXXXXXXXXXXXXX1/a/gateways","qos":"0","datatype":"auto","broker":"40073673.269718","nl":false,"rap":false,"x":250,"y":200,"wires":[["bb645c7.1a3fca","199adf51.c62471","febd5bc3.cf78f8"]]},{"id":"199adf51.c62471","type":"function","z":"a9631253.e2dca","name":"","func":"let p=JSON.parse(msg.payload);\np = p[\"message\"][\"event\"][\"characteristic\"]\np = { payload: p[\"value\"][1]};\nreturn p;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["4f290812.2d5198"]]},{"id":"d836c20f.e5c8f","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"45bd7d24.688564","order":0,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"°F","format":"{{value}}","min":"90","max":"109","colors":["#003eb3","#11ff00","#ff0000"],"seg1":"97","seg2":"100.4","x":670,"y":140,"wires":[]},{"id":"6006f6b.6b2f308","type":"mqtt in","z":"a9631253.e2dca","name":"","topic":"/station/1/hr","qos":"2","datatype":"auto","broker":"15df0989.342bf6","nl":false,"rap":true,"rh":0,"x":270,"y":380,"wires":[["a485905d.3834e"]]},{"id":"a485905d.3834e","type":"function","z":"a9631253.e2dca","name":"","func":"let p=msg.payload;\nlet data = p.split(\" \")\n\nvar obj = [{\n    \"series\":['A'],\n    \"data\":[data],\n    \"labels\": Array.from(Array(data.length).keys())\n}]\n\nmsg.payload = obj\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["35593be2.f1b0d4"]]},{"id":"35593be2.f1b0d4","type":"ui_chart","z":"a9631253.e2dca","name":"","group":"f62c6eaf.2f8b2","order":2,"width":0,"height":0,"label":"EKG [uA]","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e1e","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":380,"wires":[[]]},{"id":"febd5bc3.cf78f8","type":"function","z":"a9631253.e2dca","name":"","func":"let p=JSON.parse(msg.payload);\np = p[\"message\"][\"event\"][\"characteristic\"]\np = { payload: p[\"value\"][0]};\nreturn p;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["9808cecc.0db41"]]},{"id":"9808cecc.0db41","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"45bd7d24.688564","order":0,"width":"0","height":"0","gtype":"gage","title":"SPO2","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#003eb3","#11ff00","#ff0000"],"seg1":"90","seg2":"100","x":650,"y":200,"wires":[]},{"id":"4f290812.2d5198","type":"ui_gauge","z":"a9631253.e2dca","name":"","group":"45bd7d24.688564","order":0,"width":"0","height":"0","gtype":"gage","title":"BPM","label":"bpm","format":"{{value}}","min":"40","max":"240","colors":["#003eb3","#11ff00","#ff0000"],"seg1":"60","seg2":"120","x":650,"y":260,"wires":[]},{"id":"40073673.269718","type":"mqtt-broker","name":"","broker":"XXXXXXXXXXXXXXX.iot.us-east-1.amazonaws.com","port":"8883","tls":"1e103949.ad9827","clientid":"account-XXXXXXXXXXXXXXXXXX1","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"45bd7d24.688564","type":"ui_group","name":"Vital Signs Station","tab":"7c9c8c14.371a84","order":1,"disp":true,"width":"6","collapse":true},{"id":"15df0989.342bf6","type":"mqtt-broker","name":"","broker":"192.168.0.23","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f62c6eaf.2f8b2","type":"ui_group","name":"PPKII EKG","tab":"7c9c8c14.371a84","order":2,"disp":true,"width":"6","collapse":false},{"id":"1e103949.ad9827","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"client.cert","keyname":"priv.cert","caname":"ca.cert","servername":"","verifyservercert":true},{"id":"7c9c8c14.371a84","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]